<div style="position: relative;">
    <div class="login-gradient">
        <div class="custom-shape-divider-bottom-1616424027">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill">
                </path>
            </svg>
        </div>
        <div class="custom-shape-divider-hider"></div>
    </div>
</div>
<section class="scrollable">
    <div class="admin-login">
        <div>
            <div class="login-flex">
                <div class="outer-login">
                    <div class="intro">
                        <h1>Login</h1>
                        <p>Login to discover amazing things in the world.</p>
                    </div>
                    <div class="login">
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="error" *ngIf="error">
                                <p>{{error}}</p>
                            </div>
                            <input formControlName="usermail" autocomplete="off" autocapitalize="none" placeholder="Username or Email">
                            <input type="password" autocomplete="off" autocapitalize="none" formControlName="password" placeholder="Password">
                            <button type="submit" [disabled]="!loginForm.valid" class="d-flex justify-content-center align-items-center">
                              <span class="mr-2">Login</span>
                              <div class="text-center" *ngIf="spinner==true">
                                <div class="spinner-border" style="width:16px; height:16px;" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div> 
                            </button>
                            <div class="forgot-pass">
                                <a routerLink="/forgot-password">
                                    <h6>Forgot Password?</h6>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="dont-have">
                        <p class="color-dark">------- Don't have an account? -------</p>
                    </div>
                    <div class="already-acc">
                        <a routerLink="/register">
                            <button>Register</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>