<!-- <section>
    <div class="admin-login">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="login">
                        <div class="d-flex justify-content-between">
                            <h1>FORGOT PASSWORD</h1>
                        
                        <div class="text-center"  *ngIf="spinner==true">
                            <div class="spinner-border" style="width:18px; height:18px;"  role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                        </div>
                        <div class="error" *ngIf="error">
                            <p >{{error}}</p>
                        </div>
                        <div class="success" *ngIf="success">
                            <p >{{success}}</p>
                        </div>
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                            <input formControlName="email" autocomplete="off" placeholder="email">
                            <small *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">
                                must contain valid email address !
                            </small>
                            <button type="submit">FORCE LOGIN</button>
                            <br/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div style="position: relative;">
    <div class="login-gradient">
        <div class="custom-shape-divider-bottom-1616424027">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill">
                </path>
            </svg>
        </div>
        <div class="custom-shape-divider-hider"></div>
    </div>
</div>
<section class="scrollable">
    <div class="admin-login">
        <div>
            <div class="login-flex">
                <div class="outer-login">
                    <div class="intro">
                        <h1>Forgot Password</h1>
                        <p>Type your email which should we use to send force login link.</p>

                    </div>
                    <div class="login">
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                            <div class="error" *ngIf="error">
                                <p>{{error}}</p>
                            </div>
                            <div class="success" *ngIf="success">
                                <p >{{success}}</p>
                            </div>
                            <input formControlName="email" autocomplete="off" autocapitalize="none" placeholder="Email">
                            <div class="error-input">
                                <p *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">
                                    must contain valid email address !
                                </p>
                            </div>
                            <button type="submit" [disabled]="!forgotPasswordForm.valid"
                                class="d-flex justify-content-center align-items-center">
                                <span class="mr-2">Send</span>
                                <div class="text-center" *ngIf="spinner==true">
                                    <div class="spinner-border" style="width:16px; height:16px;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                    <div class="dont-have">
                        <p class="color-dark">------- Or connect using -------</p>
                    </div>
                    <div class="already-acc">
                        <a routerLink="/login">
                            <button>Login</button>
                        </a>
                        <a routerLink="/register">
                            <button>Register</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>