<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mb-0">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a routerLink="/">HOME</a>
                                <!-- <a routerLink="/chat">CHAT</a> -->
                                <a routerLink="/about">ABOUT</a>
                                <a routerLink="/contact">CONTACT</a>
                                <a routerLink="/privacy-policy">POLICY</a>
                            </div>
                            <div>
                                <a routerLink="/login">LOGIN</a>
                                <a routerLink="/register" class="mr-0">REGISTER</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>