.right-area{
    height: 100vh; 
    overflow-y: scroll;
    overflow-y: overlay;
}
.left-area{
    height: 100vh; 
    overflow-y: scroll;
    overflow-y: overlay;
}

@media only screen and (max-width:767px){
    .right-area{
        height: auto;
        overflow-y: unset;
    }
    .left-area{
        height: auto;
        overflow-y: unset;
    }
}