
.login-gradient{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   background-image:var(--themehome);
   /* z-index: -1; */
   height: 65vh;
   padding-bottom: 110px;
}
.custom-shape-divider-bottom-1616424027 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
   z-index: 0;
}

.custom-shape-divider-bottom-1616424027 svg {
   position: relative;
   display: block;
   width: calc(144% + 1.3px);
   height: 107px;
}

.custom-shape-divider-bottom-1616424027 .shape-fill {
   fill: #f1eaea;
}
.custom-shape-divider-hider{
   z-index: 3;
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
   bottom: -5px;
   padding-top:10px ;
   background-color: #f1eaea;
}
.login-flex{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height:100vh;
   flex-wrap: wrap;
   background-color: #f1eaea;
}
.outer-login{
   z-index : 4 !important;
   padding: 15px !important;
   width:500px;
}
.login, .already-acc{
   padding: 15px;
   padding: 0;
   /* background-color: rgb(243 235 235); */
   /*background-image: linear-gradient(to right top, #8b49f1, #8147ea, #7744e4, #6c42dd, #623fd6, #583acb, #4e35c1, #4430b6, #3828a6, #2d2095, #201986, #131176);
   */
   /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
   border-radius:5%;
   -webkit-border-radius:5%;
   -moz-border-radius:5%;
   -ms-border-radius:5%;
   -o-border-radius:5%;
}
.login h1{
   /* text-align: center; */
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 20px;
}
.login h2{
   text-align: center;
   /* font-weight: bold; */
   /* text-transform: uppercase; */
   font-size: 16px;
}
.login p{
   text-align: center;
}
.login input, .login textarea{
   width:100%;
   margin-bottom: 15px;
   outline: none;
   background-color: transparent;
   border: none;
   border: 1px solid rgb(229 218 218);
   background-color: white;
   padding: 8px 10px;
   font-size: 13px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
.login textarea{
   height: 100px !important;
}
.login button, .already-acc button{
   z-index : 4 !important;
   width: 100%;
   margin-bottom: 15px;
   outline: none;
   padding: 5px 10px;
   background-color: var(--themeheader);
   color:white;
   border: none;
   font-weight: 600;
   letter-spacing: 1px;
   /* border: 1px solid rgb(98, 44, 245); */
    /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
    border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}
.login button:hover, .already-acc button:hover{
   opacity: .9;
}
.login button:active, .already-acc button:active{
   transform: scale(.97);
}
.login p{
   font-size: 12px;
   margin-bottom: 0;
}
.login p a{
   font-size: 12px;
   margin-bottom: 0;
   color: var(--themeheader);
}
small{
   margin-bottom: 0;
   color: white;
   color: rgb(236, 99, 99);
   font-size: 12px;
   /* padding: 0px 10px; */
}
.intro{
   color: white;
}
.intro h1{
   font-size: 25px;
   font-weight: bolder;
}
.intro p{
   font-size: 14px;
}

.login button:disabled,
.login button[disabled]{
 opacity: .7;
}
.error{
   padding-bottom: 15px;
}
.error p{
   color: rgb(236, 99, 99);
}

.radio-buttons input[type="radio"]{
   position: fixed;
   width: 0;
   height: 0;
   top: -10px;
}

.radio-buttons label{
   display: block;
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(221, 221, 221);
   padding: 7px 50px;
   cursor: pointer;
   font-size: 13px;
   font-weight: bolder;
   overflow: hidden;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
}
.radio-buttons label:hover {
   opacity: .8;
}
.radio-buttons.public input[type="radio"]:checked + label {
     background-color: rgb(106, 231, 106);
}
.radio-buttons.private input[type="radio"]:checked + label {
   background-color: rgb(235, 116, 100);
}
@media only screen and (max-width : 767px){
    .login-flex{
       min-height: unset;
       height: 100vh;
       height: calc(var(--vh, 1vh) * 100);
       overflow-y: scroll;
   }
   .login-gradient{
       height: calc(var(--vh, 1vh) * 62);
   }
}